#player{
	color: #999;
	background: #ddd url(bg.png) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#player a{
	color: #bba;
}
