#player{
	color: #aaa;
	background: #ddd url(bg.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#player a{
	color: #88c;
}
